Repository windingtree/sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*.{ts,js,json}": ["prettier --write", "eslint --cache --fix"],
  "*.md": ["prettier --write"]
}

chore: 🤖 Updated node example code style
  examples/node/index.ts
Due: prettier --write, eslint --cache --fix

docs: ✏️ Updated a supplier node docs
  docs/docs/nodes.md
Due: prettier --write

docs: ✏️ Added jsdoc to clinet reauest registry
  src/client/requestManager.ts
Due: prettier --write, eslint --cache --fix

refactor: 💡 client.requests.add renamed into `publish`
  examples/client/src/App.tsx
  src/client/index.ts
Due: prettier --write, eslint --cache --fix

docs: ✏️ Updated docs of clients flow
  docs/docs/clients.md
Due: prettier --write

refactor: 💡 init of storage renamed to createInitializer
  examples/client/src/App.tsx
  examples/node/index.ts
  examples/server/index.ts
  src/storage/local.ts
  src/storage/memory.ts
  test/shared.queue.spec.ts
Due: prettier --write, eslint --cache --fix

docs: ✏️ Added docs for storage
  docs/docs/sidebar.md
  docs/docs/storage.md
Due: prettier --write

chore: 🤖 Added semantic-release-cli package
  package.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore: 🤖 Added GitHub workflows configuration
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/.gitkeep
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore: 🤖 Updated release workflow script
  .github/workflows/release.yml
Due: none

feat: 🎸 Bump initial version
  README.md
Due: prettier --write

chore: 🤖 Fixed typo in workflows
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore: 🤖 Fixed minor lint issue
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore: 🤖 Changed import in messages.ts
  package.json
  src/shared/messages.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

Notes added by 'git notes add'
  fd5e44f49b888024bb705054d99d7949b31768fb
Due: none

feat: 🎸 Updated semantic-release plugins list
  README.md
  package.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

Notes added by 'git notes add'
  ed36e04aa642ba7fcdf59e297967d1044dba2e92
Due: none

feat: 🎸 First public release
  .gitignore
  package.json
Due: prettier --write, eslint --cache --fix

Notes added by 'git notes add'
  8a22bcf2c0a8c2dd4bf76a5963a048d0fff31170
Due: none

refactor: 💡 Client.RequestManager renamed to RequestsRegistry
  src/client/requestsRegistry.ts
Due: prettier --write, eslint --cache --fix

fix: 🐛 Added missed exports to client and node
  src/client/index.ts
  src/node/index.ts
Due: prettier --write, eslint --cache --fix

fix: 🐛 Fixed module exports
  package.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

refactor: 💡 Minor client example refactoring
  examples/client/package.json
  examples/client/src/App.tsx
  examples/client/yarn.lock
  examples/server/index.ts
  src/shared/options.ts
Due: prettier --write, eslint --cache --fix

Notes added by 'git notes add'
  437787db8f4b775de655f8d75adcdf925a82a4c2
Due: none

refactor: 💡 Updated build system
  examples/client/package.json
  examples/client/src/App.tsx
  examples/client/tsconfig.json
  examples/client/yarn.lock
  package.json
  src/index.ts
  src/storage/local.ts
  test/shared.queue.spec.ts
  tsconfig.build.json
  tsconfig.cjs.json
  tsconfig.json
Due: prettier --write, eslint --cache --fix

feat: 🎸 Bump beta.5
  examples/client/package.json
  examples/client/yarn.lock
Due: prettier --write, eslint --cache --fix

Notes added by 'git notes add'
  c78c5e36215386d0da48fb6b896e816b6fc02d67
Due: none

feat: 🎸 Bump beta.6
  examples/client/package.json
  examples/client/src/App.tsx
  examples/client/tsconfig.json
  examples/client/tsconfig.node.json
  examples/client/yarn.lock
  package.json
  tsconfig.json
Due: prettier --write, eslint --cache --fix

Notes added by 'git notes add'
  28d68d7700f932acc61aa1f328ea76fc6da5833a
Due: none

feat: 🎸 Bump beta.7
  examples/client/package.json
  examples/client/yarn.lock
Due: prettier --write, eslint --cache --fix

Notes added by 'git notes add'
  155311c24470a33083d4e6b5b8281e8b86e76cf1
Due: none

feat: 🎸 Bump beta.8
  examples/client/package.json
  examples/client/yarn.lock
  package.json
Due: prettier --write, eslint --cache --fix

Notes added by 'git notes add'
  fcad4e25f26e86cb08151d72ace3a9870f9f37d5
Due: none

feat: 🎸 Bump beta.9
  examples/client/package.json
  examples/client/yarn.lock
  package.json
  tsconfig.build.json
Due: prettier --write, eslint --cache --fix

Notes added by 'git notes add'
  b16cef319eeb26073228feb9574222553ad42212
Due: none

feat: 🎸 Bump beta.10
  examples/client/package.json
  examples/client/src/App.tsx
  examples/client/tsconfig.json
  examples/client/tsconfig.node.json
  examples/client/yarn.lock
  tsconfig.json
Due: prettier --write, eslint --cache --fix

Notes added by 'git notes add'
  0504f60c97cdb69f361c1296f5e9f50fc1cae889
Due: none

feat: 🎸 Updated messages schemes and types
  examples/client/src/App.tsx
  src/client/index.ts
  src/client/requestsRegistry.ts
  src/node/index.ts
  src/node/requestManager.ts
  src/shared/messages.ts
Due: prettier --write, eslint --cache --fix

chore: 🤖 Updated module build configuration
  examples/client/package.json
  examples/client/yarn.lock
  package.json
  tsconfig.json
Due: prettier --write, eslint --cache --fix
